/*Global Settings*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
li {
  list-style: none;
}
/**Header styles*/
header {
  width: 100%;
  height: 6rem;
}
header nav {
  display: flex;
  justify-content: flex-end;
  height: inherit;
}
#listNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 25rem;
  height: 5.7rem;
}
#iconNav {
  background-image: url("../img/icons8-menú.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 2.5rem;
  height: 2.5rem;
}
#imgNav {
  border-radius: 50%;
  width: 3.2rem;
}
a:hover {
  text-decoration: underline;
}

/**Main styles*/
main {
  margin-top: 15rem;
  text-align: center;
}
.mainLogo {
  width: 45rem;
  margin: 0 auto;
  margin-bottom: 3.5rem;
}
.mainLogo img {
  height: 9.5rem;
  width: 27.2rem;
  /* widows: 27.2rem; */
}
.mainContainer {
  width: 45rem;
  margin: 0 auto;
  margin-bottom: 3.5rem;
}
.mainContainer--secondary {
  width: 45rem;
  border-radius: 5rem;
  border: 1px solid #dfe1e5; /*no quitar xd*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer--secondary input {
  width: 40rem;
  height: 4rem;
  border: none;
  outline: none;
}
.mainContainer--secondary:hover {
  box-shadow: 0 5px 20px 0 #20212447;
  border-color: #dfe1e500;
}
.searchIcon {
  background-image: url("../img/search-icons-8.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 0.9rem;
  margin-right: 0.7rem;
}
.microIcon {
  background-image: url("https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-25-512.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin-right: 0.6rem;
}
.mainButtons {
  width: 45rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 3rem;
  height: 25rem;
}

.mainButtons button {
  height: 3.6rem;
  background-color: #f5f5f5;
  border: 0;
  font-size: 1.4rem;
  color: #5f6368;
  border-radius: 0.8rem;
  padding: 0 1.5rem;
  /* margin-bottom: 25rem; */
}
.mainButtons button:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #222;
  background-color: #f2f2f2;
  cursor: pointer;
}
/**Footer styles */
.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f6f6f6;
  border-top: 1px solid #c6c6c6;
  width: 100%;
  height: 7rem;
  bottom: 0;
  font-size: 1.3rem;
}
.footer-1 {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  margin-top: 1.5rem;
}
.footer-2 {
  display: flex;
  gap: 3rem;
  margin-top: 1.5rem;
}
@media (max-width: 444px) {
  .footer-1 {
    display: flex;
    flex-wrap: wrap;
  }
}
